.page+.page {
    page-break-before: always;
}

.page .fl.c1 {
    width: 35%;
}

.page .fl.c33 {
    width: 33.3333%;
}

.page {
    margin: 0 auto;
    background: #fff;
    padding: 0;
    color: #000;
    box-sizing: border-box;
    font-weight: 400;
    position: relative;
    font-family: "宋体",Microsoft YaHei,"黑体","幼圆",Helvetica Neue,Helvetica,Arial,sans-serif;
}

.page:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 10mm;
}

.page:after {
}

.efb-main .page {
    padding: 5mm;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.42);
    margin: 10px auto;
}

.efb-main .pages {
    padding: 5mm;
}

body {
    background: #D8D8D8 !important;
}

.efb-main {
    padding: 5mm 0;
}

.efb-main .paging {
}

.js-print:hover {
    opacity: 1;
}

.js-print {
    background: url(icon/efb-print.png) no-repeat;
    position: absolute;
    left: 50%;
    top: 35px;
    width: 24px;
    height: 24px;
    background-size: contain;
    cursor: pointer;
    transition: .2s;
    margin-left: -366px;
    opacity: .5;
}

.title {
    font-size: 24px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    float: left;
    line-height: 25px;
    height: 47px;
}

.top-full {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.title.com {
    line-height: 30px;
    height: 32px;
    font-size: 23px;
}

.title.t {
    font-size: 21px;
    height: 54px;
}

.page .fl {
    float: left;
    position: relative;
}

.page.cgdd .fl.bz,.page.cgdd .fl.tk {
    width: 100%;
}

.page.cgdd .fl.tk {
    margin-bottom: 10px;
}

.page.cgdd .fl.bz p.bz, .page.cgdd .fl.tk {
    width: 100%;
    display: block;
    min-height: 150px;
    border: 1px solid;
    float: right;
    margin-top: 2px;
    box-sizing: border-box;
}

.fl.l+.fl.l {
    margin-bottom: 5px;
}

.fl.l {
    width: 100%;
    height: 0px;
    border-bottom: 1px;
    border-top: 1px solid;
    box-sizing: border-box;
    margin: 1px 0 0;
    padding: 0;
    box-sizing: border-box;
}

.fl.c7 {
    width: 25%;
}

.br.fl {
    width: 100%;
    height: 6px;
    display: block;
}

.fl.c6 {
    width: 50%;
}

.page .fl.c5 {
    width: 20%;
}

.page .fl.c3 {
    width: 100%;
}

.page .fl.c4 {
    width: 33.333%;
    margin-bottom: 15mm;
}

.page .paging {
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    text-align: center;
    font-size: 12px;
    bottom: 5mm;
}

.page table.fl {
    margin: 20px 0;
    font-size: 14px;
    width: 100%;
    text-align: center;
    line-height: 1.3;
}

.page.cgdd table.fl {
    margin-top: 0;
    margin-bottom: 3px;
}

.page .fl.c2 {
    margin-left: -2%;
    position: relative;
}

.page .fl.c2.code {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0mm;
    margin-top: 5mm;
}

.efb-main .page .fl.c2.code {
    margin-top: 10mm;
    margin-right: 5mm;
    font-family: cursive;
}

canvas.js-ean13 {
    position: absolute;
    background: #ddd;
    top: 0;
    left: 150%;
}

.page table.fl td,.page table.fl th {
    border: 1px solid #333;
    font-size: 12px;
    line-height: 1.5;
}

table td:after {
    content: '';
    width: 0px;
    height: 19px;
    display: block;
    float: right;
}

.page table.fl th:nth-child(4) {
    width: 230px;
}

.page table.fl th:nth-child(1) {
    width: 50px;
}

.page .fl label,.page .fl span {
    font-size: 14px;
    line-height: 14px;
    float: left;
    cursor: auto;
    position: relative;
}

span.code.ls {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.efb-main .page.cgdd .fl.h {
    top: 16mm;
}

.page.cgdd .fl.h {
    position: absolute;
    right: 0;
    width: 24%;
    top: 11mm;
}

.page.cgdd .fl.c5 {
    width: 100%;
}
.efb-main .page .fl.h {
    margin-right: 5mm;
}
.clear {
    clear: both;
    display: block;
    width: 100%;
}
